.app-layout {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  align-items: center;
  align-content: center;
}

.logo img {
  width: 100px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-items ul {
  display: flex;
  list-style-type: none;
}

.nav-items ul li {
  padding: 5px 20px;
  cursor: pointer;
  list-style-type: none;
}

.nav-items ul :hover {
  color: orange;
  transform: scale3d(1.1);
}

.body {
  padding : 20px 10px;
  height: 100vh;
}

.card {
  width: 300px;
  height: 500px;
  margin: 30px;
  border-radius: 15px;
  background-color: white;
}

.cuisines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card:hover {
  border: 1.5px solid rgb(253, 251, 251);
  cursor: pointer;
  transform: scale3d(1.05);
}

.card img {
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.card h3, p {
  margin: 11px;
}

.filter-btn {
  width: 200px;
}

.search-filters {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

button {
  border-radius: 10px;
  cursor: pointer;
  border: none;
} 

.filter-container {
  padding-left: 4%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-card {
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(247, 241, 241);
}

.shimmer-card img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  background-color: rgb(245, 245, 247);
}

.shimmer-card-h3, .shimmer-card-p {
  margin: 11px;
  background-color: rgb(22, 22, 22);
}

.menu {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.right-side img {
  width: 150px
}

.left-side button {
  background-color: rgb(230, 174, 79);
  height: 30px;
  width: 100px
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style-type: none;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.aboutus-title {
  height: 200px;
  width: 500px;
}

.aboutus-card {
  display: flex;
  justify-content: space-around;
}

.aboutus-card h3 {
  padding-left: 10px;
}

.card-right img {
  width: 180px;
  border-radius: 100px;
} 

.search-btn, .filter-btn{
  background-color: rgb(252, 233, 225);
  color: orange;
}